<template>
    <b-container fluid>
        <b-row>
            <b-col>Header</b-col>
        </b-row>
        <b-row>
            <b-col cols="2">Menu</b-col>
            <b-col><router-view></b-col>
        </b-row>
    </b-container>
</template>