<template>
  <b-container fluid class="p-4 bg-dark">
    <b-row>
      <b-col>
        <b-img
          thumbnail
          fluid
          src="https://fbi.dek-d.com/27/0398/3359/121207672" width="260" height="260"
          alt="Image 1"
        ></b-img>
      </b-col>
      <b-col>
        <b-img
          thumbnail
          fluid
          src="https://pbs.twimg.com/profile_images/869846102027124736/v_PrqXbe.jpg" width="260" height="260"
          alt="Image 2"
        ></b-img>
      </b-col>
      <b-col>
        <b-img
          thumbnail
          fluid
          src="https://sites.google.com/site/faelithel/_/rsrc/1420769595217/ke-ry-fu-lbas-texr-gray-fullbuster-gurei-furubasuta/%E0%B8%AA%E0%B8%AA%E0%B8%AA%E0%B8%AA.png" width="260" height="260"
          alt="Image 3"
        ></b-img>
      </b-col>
    </b-row>
  </b-container>
</template>
